.header {
  width: 100%;
  height: 60px;
  clear:both;
  background-color: #8ceaef;
}
.header ul {
  list-style: none;
  float: right;
  margin-right: 10%;
}
.header ul li{
  float:left;
}
.header ul li a{
  display: block;
  line-height: 60px;
  text-align: center;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}
.header .user {
  float: left;
  margin-left: 20px;
}
.header .user a {
  margin-left: 10px;
  margin-right: 10px;
}
.header .user span {
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
