.login {
  margin: 50px auto;
  width: 60%;
  height: 70%;
}
.login-inner {
  margin: 0 auto;
  width: 80%;
}
.login-inner span{
  cursor: pointer;
}
.form label,input,button {
  margin-top: 30px;
  font-size: 1em;
  line-height: 2em;
}
.form input {
  appearance:none;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
.form .submit{
  margin-left: 20%;
  font-size: 1em;
  color:#fff;
  background-color: #b53333;
  width: 15%;
  height: 12%;
  line-height: 2em
}
